<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangu.tcmts.dao.PrescriptionDetailMapper" >
  <resultMap id="BaseResultMap" type="com.tangu.tcmts.po.PrescriptionDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="prescription_id" property="prescriptionId" jdbcType="INTEGER" />
    <result column="medicine_id" property="medicineId" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="DECIMAL" />
    <result column="name_medicineName" property="name_medicineName" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="getPrescriptionDetailList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    pd.id, prescription_name,medicine_name, medicine_name AS name_medicineName ,medicine_id, pd.weight,m.standard AS unit,
    unit_type,prescription_id,m.special_boil_type
    from prescription_detail pd LEFT JOIN medicine m ON pd.medicine_id=m.id
    LEFT JOIN prescription p ON pd.prescription_id=p.id
    where p.id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertPrescriptionDetail" parameterType="com.tangu.tcmts.po.PrescriptionDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prescription_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prescriptionId != null" >
        prescription_id,
      </if>
      <if test="medicineId != null" >
        medicine_id,
      </if>
      <if test="weight != null" >
        weight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prescriptionId != null" >
        #{prescriptionId,jdbcType=INTEGER},
      </if>
      <if test="medicineId != null" >
        #{medicineId,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>