<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangu.tcmts.dao.PrintMapper">
	<sql id="hospital_Column" >
	    h.hospital_company,h.hospital_nickname as hospitalName,
	    IFNULL(h.outpatient_tag_print,0)AS outpatient_tag_print,
	    IFNULL(h.outpatient_recipe_print,0)AS outpatient_recipe_print,
	    h.outpatient_tag_type,h.outpatient_tag_num,h.outpatient_boil_type,h.outpatient_boil_num,
	    IFNULL(h.hospital_tag_print,0)as hospital_tag_print,
	    IFNULL(h.hospital_recipe_print,0)as hospital_recipe_print,
	    h.hospital_tag_type,h.hospital_tag_num,
	    h.hospital_boil_type,h.hospital_boil_num,h.is_print_process
  	</sql>
    <resultMap id="BaseResultMap" type="com.tangu.tcmts.po.RecipePrintObj">
    	<result column="take_time" property="takeTimeDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="TransferBaseResultMap" type="com.tangu.tcmts.po.RecipePrintObj">
    	<result column="trade_time" property="dealDate" jdbcType="TIMESTAMP"/>
    	<result column="receive_time" property="createTime" jdbcType="TIMESTAMP"/>
    	<result column="take_time" property="takeTimeDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="listTransferRecipePrintMessages" resultMap="TransferBaseResultMap"
            parameterType="com.tangu.tcmts.po.RecipeReq">
    SELECT tr.*,
    recipe.sys_recipe_code,recipe.other_package,recipe.special_print,
    boil.label as boilTypeName,
    carry.label as transferType,
   	<include refid="hospital_Column" />
    FROM transfer_recipe tr 
    LEFT JOIN sys_lookup boil ON tr.boil_type = boil.value AND boil.code='boilType'
    LEFT JOIN sys_lookup carry ON tr.carry_id = carry.value AND carry.code='transferType'
    LEFT JOIN hospital h ON tr.hospital_code = h.hospital_code
    LEFT JOIN recipe on tr.native_recipe_id=recipe.id
    <where>
        <if test="id != null ">
            tr.id = #{id}
        </if>
        <if test="recipeList != null">
            tr.id IN(
            <foreach collection="recipeList" item="item" index="index" separator=",">
                #{item.id}
            </foreach>
            )
        </if>
    </where>
    </select>
    <resultMap id="TransferRecipeMedicineMap" type="com.tangu.tcmts.po.TransferMedicineObj">
    </resultMap>
    <select id="listTransferRecipeMedicinePrintMessages" resultMap="TransferRecipeMedicineMap"
            parameterType="java.util.List">
    select
    medicine_name,IFNULL(medicine_code,'')AS medicine_code,weight_every,weight, money,
    mnemonic_code,hospital_code,bill_id,unit,special_boil_type
    from transfer_medicine
    <where>
        bill_id IN (
        <foreach collection="list" item="item" separator="," >
            #{item}
        </foreach>
        )
    </where>
    </select>
    
    <select id="listRecipePrintMessages" resultMap="BaseResultMap"
            parameterType="com.tangu.tcmts.po.RecipeReq">
    SELECT r.*,tr.doctor_code,tr.bill_id,tr.hospital_code,
     bp.`project_name` AS boilProjectName,
     boil.label as boilTypeName,
     carry.label as transferType,
     employee.employee_name as creator,
     checkBill.employee_name as checkBillName,checkBill.employee_code as checkBillCode,
     py.employee_name as makeName,
    <include refid="hospital_Column" />
    FROM recipe r
    LEFT JOIN hospital h ON r.hospital_id = h.id 
    LEFT JOIN `boil_project` bp ON r.`boil_project_id` = bp.`id`
    LEFT JOIN sys_lookup boil ON r.boil_type = boil.value AND boil.code='boilType'
    LEFT JOIN sys_lookup carry ON r.carry_id = carry.value AND carry.code='transferType'
    LEFT JOIN employee ON r.creator_id=employee.id
    LEFT JOIN employee checkBill ON r.dispense_id=checkBill.id
    LEFT JOIN transfer_recipe tr ON r.id=tr.native_recipe_id
    ,recipe_proccess rp
    LEFT JOIN employee py ON rp.check_id=py.id
    WHERE r.id=rp.recipe_id
     <if test="id != null ">
         AND r.id = #{id}
     </if>
     <if test="recipeList != null">
         AND r.id IN(
         <foreach collection="recipeList" item="item" index="index" separator=",">
             #{item.id}
         </foreach>
         )
     </if>
    </select>
    <select id="listRecipeMedicinePrintMessages" resultMap="TransferRecipeMedicineMap"
            parameterType="java.util.List">
    SELECT
    rm.recipe_id, m.medicine_name,rm.weight_every, rm.money,rm.trade_freight,
    rm.special_boil_type,m.medicine_type,IFNULL(m.standard,'') as unit,m.unit_type,
    m.medicine_code,m.mnemonic_code
    FROM recipe_medicine rm,medicine m
    <where>
    	rm.medicine_id=m.id
        AND rm.recipe_id IN (
        <foreach collection="list" item="item" separator="," >
            #{item}
        </foreach>
        )
    </where>
    </select>
    
    
    <select id="listTackMedicine" resultMap="TransferBaseResultMap"
            parameterType="java.lang.Integer">
    SELECT tr.id,tr.receive_time,tr.trade_time,recipe_code,tr.hospital_code,outpatient_num,
    recipient_code,recipient_name,sex,age,doctor_name,quantity,package_paste,remark,
    inpatient_area,bed_number,department,pathogen,process_cost,custom_one_text,invoice_code,
    take_type,
    recipe.carry_id,recipe.take_time,recipe.receive_remark,recipe.logistics_code,
    boil.label as boilTypeName,
    carry.label as transferType,
   	<include refid="hospital_Column" />
    FROM transfer_recipe tr 
    LEFT JOIN sys_lookup boil ON tr.boil_type = boil.value AND boil.code='boilType'
    LEFT JOIN transfer_recipe_tmp recipe on tr.id=recipe.transfer_recipe_id
    LEFT JOIN sys_lookup carry ON recipe.carry_id = carry.value AND carry.code='transferType'
    LEFT JOIN hospital h ON tr.hospital_code = h.hospital_code
    <where>
        <if test="value != null ">
            tr.id = #{value}
        </if>
    </where>
    </select>
</mapper>