<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangu.tcmts.dao.RecipeFileMapper">

	<resultMap id="BaseResultMap" type="com.tangu.tcmts.po.RecipeFile"></resultMap>

    <delete id="deleteRecipeFile">
        DELETE FROM recipe_file WHERE id = #{id}
    </delete>
    
    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM recipe_file WHERE id in
		<foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
        	#{item.id}
        </foreach>
    </delete>    



    <select id="listRecipeFile" resultMap="BaseResultMap" parameterType="java.util.List">
        <foreach collection="recipeIds" index="index" item="item" separator=";">

        SELECT
          id,
          recipe_id,
          create_time,
          file_path,
          file_type
        FROM
          recipe_file rf
        WHERE
          rf.recipe_id = #{item.recipeId}
        </foreach>
    </select>
    <insert id="insertRecipeFile">
    	INSERT INTO recipe_file
    	<trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="recipeId != null">
	            recipe_id,
	        </if>
	        <if test="filePath != null">
	            file_path,
	        </if>
	    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
	        <if test="recipeId != null">
	            #{recipeId},
	        </if>
	        <if test="filePath != null">
	            #{filePath},
	        </if>
        </trim>
    </insert>
    <insert id="addRecipeFile" parameterType="java.util.List">
        <foreach collection="recipeFileList" index="index" item="item" separator=";">
            INSERT INTO recipe_file
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    id,
                </if>
                <if test="recipeId != null">
                    recipe_id,
                </if>
                <if test="createTime != null" >
                    create_time,
                </if>
                <if test="filePath != null">
                    file_path,
                </if>
                <if test="fileType != null">
                    file_type,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null">
                    #{item.id},
                </if>
                <if test="recipeId != null">
                    #{item.recipe_id},
                </if>
                <if test="createTime != null" >
                    #{item.create_time},
                </if>
                <if test="filePath != null">
                    #{item.file_path},
                </if>
                <if test="fileType != null">
                    #{item.file_type},
                </if>
            </trim>
        </foreach>
    </insert>
</mapper>