<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangu.tcmts.dao.SpecialDiscountMapper" >
  <resultMap id="BaseResultMap" type="com.tangu.tcmts.po.SpecialDiscount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="settle_company_id" property="settleCompanyId" jdbcType="INTEGER" />
    <result column="medicine_id" property="medicineId" jdbcType="INTEGER" />
    <result column="discount" property="discount" jdbcType="DECIMAL" />
    <result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />
    <result column="name_medicineId" property="name_medicineId" jdbcType="VARCHAR"/>
  </resultMap>
  <select id="listSpecialDiscounts" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    sd.settle_company_id, medicine.medicine_name AS name_medicineId, sd.discount, sd.tax_rate,medicine_id
    from special_discount sd LEFT JOIN settle_company sc ON sd.settle_company_id=sc.id
          LEFT JOIN medicine ON sd.medicine_id=medicine.id
    where sd.settle_company_id = #{settleCompanyId,jdbcType=INTEGER}
  </select>
  <insert id="insertSpecialDiscount" parameterType="com.tangu.tcmts.po.SettleCompanyDO">
    INSERT INTO special_discount(settle_company_id,medicine_id,discount)
    VALUES
    <foreach collection="specialDiscountList" item="item" index="index" separator=",">
      (#{id},#{item.medicineId},#{item.discount})
    </foreach>
  </insert>

  <update id="updateSpecialDiscount" parameterType="com.tangu.tcmts.po.SpecialDiscount" >
    update special_discount
    <set >
      <if test="settleCompanyId != null" >
        settle_company_id = #{settleCompanyId,jdbcType=INTEGER},
      </if>
      <if test="medicineId != null" >
        medicine_id = #{medicineId,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null" >
        tax_rate = #{taxRate,jdbcType=DECIMAL},
      </if>
    </set>
    where settle_company_id = #{settleCompanyId}
    AND medicine_id = #{medicineId,jdbcType=INTEGER}
  </update>

  <delete id="deleteSpecialDiscount" parameterType="com.tangu.tcmts.po.SpecialDiscount">
    DELETE FROM special_discount
    <where>
      settle_company_id = #{settleCompanyId}
      <if test="medicineId != null">
        AND medicine_id = #{medicineId,jdbcType=INTEGER}
      </if>
    </where>
  </delete>

  <select id="getAllDiscount" parameterType="com.tangu.tcmts.po.SpecialDiscount" resultType="com.tangu.tcmts.po.SpecialDiscount">
    select medicine_id,IFNULL(discount,0) as discount,IFNULL(tax_rate,0) as tax_rate,
    settle_company_id from special_discount
    <where>
	    <if test="settleCompanyId>0" >
	      settle_company_id= #{settleCompanyId}
	    </if>
    </where>
  </select>
  <select id="listSpecialDiscountBySettleCompanyId" parameterType="java.lang.Integer" resultType="com.tangu.tcmts.po.SpecialDiscount">
  		SELECT id,settle_company_id,medicine_id,discount,tax_rate FROM `special_discount` 
		WHERE settle_company_id = #{settleCompanyId}
  </select>
</mapper>